
<% include partials/header.ejs %>
       
        <div class="content">
             <h1>Welcome to the Solar System Site!</h1>
            <p> Click on a planet to know more about it!</p>

            <a href="/mercury"> Mercury </a><br>
            <a href="/venus"> Venus </a><br>
            <a href="/pluto"> Pluto </a><br><br>  
        </div>
        
        <img class="img" src="/img/planets.jpg" alt="Solar System">
<div class="content"><%- include('partials/footer.ejs') %></div>
