<%- include('partials/header.ejs') %>
       
        <div class="content">
             <h1>Welcome to Mecury</h1>
            <div class="nav"> 
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/pluto"> Pluto </a>
            </div> 
             
            <p> Mercury is the smallest and innermost planet in the Solar System. Its orbit around the Sun takes 87.97 days, the shortest of all the planets in the Solar System. It is named after the Roman deity Mercury, the messenger of the gods.</p>

           
        </div>
        
        <img class="img" src="/img/mercury.jpg" alt="Solar System">
<div class="content"><%- include('partials/footer.ejs') %></div>
