<%- include('partials/header.ejs') %>
       
        <div class="content">
             <h1>Welcome to Pluto</h1>
            <div class="nav"> 
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/pluto"> Pluto </a>
            </div> 
             
            <p>Pluto is an icy dwarf planet in the Kuiper belt, a ring of bodies beyond the orbit of Neptune. It was the first Kuiper belt object to be discovered and is the largest known dwarf planet. Pluto was discovered by Clyde Tombaugh in 1930 as the ninth planet from the Sun</p>

           
        </div>
        
        <img class="img" src="/img/pluto.jpg" alt="Solar System" style="width:1276px; height:718px">
<div class="content"><%- include('partials/footer.ejs') %></div>
