<%- include('partials/header.ejs') %>
        <h1>Welcome to Earth</h1>
        <p>
            Earth is the third planet from the Sun and only known planet that has life. Earth (fifth largest planet in the solar system) is the only world in our solar system with liquid water on the surface. Slightly larger than nearby Venus, Earth is the biggest of the four planets closest to the Sun, all of which are made of rock and metal.
            The name Earth is at least 1,000 years old. All of the planets, except for Earth, were named after Greek and Roman gods and goddesses. Earth is a Germanic word which means “the ground.”
        </p>
        <img width="600px" src="/img/earth.jpg" alt="The Solar System">
<%- include('partials/footer.ejs') %>