<%- include('partials/header.ejs') %>
        <h1>Welcome to Mercury</h1>
        
        <p>
            Mercury(nearest to the Sun), the smallest planet in our solar system, is only slightly larger than Earth's Moon. If you were somehow on Mercury, looking at the Sun would seem three times larger than from Earth. Despite being the closest planet to the Sun, Mercury is not the hottest – Venus takes that title due to the heat being trapped in its atmosphere.
        </p>
        <img width="600px" src="/img/mercury.jpg" alt="The Solar System">
<%- include('partials/footer.ejs') %>