<%- include('partials/header.ejs') %>
        <h1>Welcome to Venus</h1>
        <p>
            Venus (closest planetary neighbor) is the second planet from the Sun. Venus spins slowly in the opposite direction from most planets. Due to the atmosphere trapping heat, it is the hottest planet in our solar system. Glimpses below the clouds reveal volcanoes and deformed mountains. Venus is named for the ancient Roman goddess of love and beauty, who was known as Aphrodite to the Ancient Greeks.
        </p>
        <img width="600px" src="/img/venus.png" alt="The Solar System">
<%- include('partials/footer.ejs') %>